<mat-toolbar class="header mat-elevation-z3">
    <span>
        <a href="">
            <img  class="logo pr-5" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="px-3">
        <a href="/task">
            <i class="material-icons">
                app_registration
            </i>
            Cadastrar Tarefa
        </a>
    </span>
    <span class="px-3">
        <a href="/list">
            <i class="material-icons">
                list
            </i>
            Listar Tarefas
        </a>
    </span>

</mat-toolbar>
