.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    a {
        text-decoration: none;
        color: #06080D;
        font-size: 16px;
    }
    .logo{
       
        max-height: 42px;
    }
}

