<div class="container  w-60 mb-5">
  <form [formGroup]="listForm" method="GET" (submit)="list()">
    <div class="row p-2">
      <div class="col-12">
        <p>Numero: </p>  
          <mat-form-field appearance="outline"  class="w-50 h-50">
          <mat-label class="label-form">Insira o numero</mat-label>
          <input matInput formControlName="id">
          </mat-form-field>
      </div>
    
  </div>
  <div class="row  p-2">
      <div class="col">
         <p>Titulo/Descrição:</p> 
         <mat-form-field appearance="outline"  class="w-100 h-50">
          <mat-label class="label-form">Insira um título</mat-label>
          <input matInput >
          </mat-form-field>
      </div>
     

  </div>
  <div class="row p-2">
      <div class="col-4">
         <p>Responsável:</p> 
          <mat-form-field appearance="outline" class="w-75">
              
              <mat-select>
                <mat-option value="one">João</mat-option>
                <mat-option value="two">Cícero</mat-option>
                <mat-option value="three">Gabriel</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      
      <div class="col-4 ">
         <p >Situação:</p> 
          <mat-form-field appearance="outline" class="w-75" >
              
              <mat-select>
                <mat-option value="one">Alta</mat-option>
                <mat-option value="two">Média</mat-option>
                <mat-option value="two">Baixa</mat-option>
              </mat-select>
            </mat-form-field>
  
      </div>
      <div class="col-4 p-3">
        <button type="submit" class="btn btn-primary mt-4 p-2"> Buscar tarefa</button>
    
      </div>
  </div>

  
  
 
   
    
  </form>
  
  
  

</div>
  
